--- 
import Layout from '../layouts/Layout.astro';
---

<Layout title="Historia - EcoAventura">
  <div class="container mx-auto px-4 py-12">
    <h1 class="text-3xl font-bold mb-4">Historia</h1>
    <div class="bg-white p-6 rounded-lg shadow-md">
      <p class="mb-4">La Fundación Aventureros del deporte comenzó su labor en la comunidad del Carmen promoviendo y enseñando el patinaje el 10 de junio del 2021, gracias a un acto de solidaridad. Una pareja de entrenadores deciden enseñarles a patinar a tres niños que sin éxito intentaban ponerse de pie y desplazarse en sus patines. Al finalizar ese momento, se cuadraron las primeras sesiones de aprendizaje para estos niños, como un pequeño y corto servicio a la comunidad, pero surgió algo inesperado, el voz a voz llevó a que rápidamente se conformará un grupo de 30 niños provenientes del corregimiento y todos los alrededores. Este compromiso y acogida llevó a que se formara la escuela de patinaje aventureros en rueda que con el tiempo, evolucionó hacia una visión más completa, apostando por integrar el deporte con el cuidado del medio ambiente para cultivar niños y familias que piensen en un desarrollo sostenible. Así fue que hace un año se formalizó legalmente como Fundación Aventureros del deporte.</p>
    </div>
  </div>
</Layout>
