--- 
import Layout from '../layouts/Layout.astro';
---

<Layout title="EcoAventura - Inicio">
  <section id="home" class="relative h-screen">
    <div class="swiper-container h-full">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="/images/campañas de reforetacion.jpg"
            alt="Imagen 1"
            class="w-full h-full object-cover filter brightness-110 saturate-110"
          />
          <div
            class="absolute inset-0 bg-black bg-opacity-50 flex flex-col items-center justify-center"
          >
            <h1 class="text-white text-4xl md:text-6xl font-bold text-center">
              Fundación EcoAventura
            </h1>
            <h2 class="text-white text-xl md:text-3xl font-light text-center mt-2">
              Donde el deporte se une al medio ambiente
            </h2>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            src="/images/1.2.PNG"
            alt="Imagen 2"
            class="w-full h-full object-cover filter brightness-110 saturate-110"
          />
          <div
            class="absolute inset-0 bg-black bg-opacity-50 flex flex-col items-center justify-center"
          >
            <h1 class="text-white text-4xl md:text-6xl font-bold text-center">
              Aventureros en Rueda
            </h1>
            <h2 class="text-white text-xl md:text-3xl font-light text-center mt-2">
              Impulsando el talento en patinaje
            </h2>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            src="/images/1.3.PNG"
            alt="Imagen 3"
            class="w-full h-full object-cover filter brightness-110 saturate-110"
          />
          <div
            class="absolute inset-0 bg-black bg-opacity-50 flex flex-col items-center justify-center"
          >
            <h1 class="text-white text-4xl md:text-6xl font-bold text-center">
              Eco-Aventureros
            </h1>
            <h2 class="text-white text-xl md:text-3xl font-light text-center mt-2">
              Cuidando el planeta, paso a paso
            </h2>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>

  <section id="maravillas" class="py-12 bg-white">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center mb-8">Maravillas de Nuestra Fundación</h2>
      <div class="text-center">
        <p class="text-lg">Nuestra Energía Transforma. De tres niños soñando en patines a una comunidad de más de 250 deportistas. Conoce cómo usamos la pasión por el patinaje para impulsar el cambio ambiental en nuestra comunidad. Cada zancada, cada salto, es un paso hacia un futuro más verde y sostenible. ¡Únete a la aventura!</p>
      </div>
    </div>
  </section>

</Layout>

<script>
  import Swiper from "swiper/bundle";
  import "swiper/css/bundle";

  var swiper = new Swiper(".swiper-container", {
    loop: true,
    effect: 'fade',
    autoplay: {
        delay: 3000,
        disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
