--- 
import Layout from '../layouts/Layout.astro';
---

<Layout title="EcoAventura - Inicio">
  <section id="home" class="relative h-screen">
    <div class="swiper-container h-full">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="/images/campañas de reforetacion.jpg"
            alt="Imagen 1"
            class="w-full h-full object-cover filter brightness-110 saturate-110"
          />
          <div
            class="absolute inset-0 bg-black bg-opacity-50 flex flex-col items-center justify-center"
          >
            <h1
              class="text-white text-4xl md:text-6xl font-bold text-center"
            >
              Fundación EcoAventura
            </h1>
            <h2 class="text-white text-xl md:text-3xl font-light text-center mt-2">Donde el deporte se une al medio ambiente</h2>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            src="/images/1.2.PNG"
            alt="Imagen 2"
            class="w-full h-full object-cover filter brightness-110 saturate-110"
          />
          <div
            class="absolute inset-0 bg-black bg-opacity-50 flex flex-col items-center justify-center"
          >
            <h1
              class="text-white text-4xl md:text-6xl font-bold text-center"
            >
              Fundación EcoAventura
            </h1>
            <h2 class="text-white text-xl md:text-3xl font-light text-center mt-2">Impulsando el talento en patinaje</h2>
          </div>
        </div>
        <div class="swiper-slide">
          <img
            src="/images/1.3.PNG"
            alt="Imagen 3"
            class="w-full h-full object-cover filter brightness-110 saturate-110"
          />
          <div
            class="absolute inset-0 bg-black bg-opacity-50 flex flex-col items-center justify-center"
          >
            <h1
              class="text-white text-4xl md:text-6xl font-bold text-center"
            >
              Fundación EcoAventura
            </h1>
            <h2 class="text-white text-xl md:text-3xl font-light text-center mt-2">Cuidando el planeta, paso a paso</h2>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>

  <section id="maravillas" class="py-12 bg-white">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center mb-8">Maravillas de Nuestra Fundación</h2>
      <div class="text-center">
        <p class="text-lg">Nuestra Energía Transforma. De tres niños soñando en patines a una comunidad de más de 250 deportistas. Conoce cómo usamos la pasión por el patinaje para impulsar el cambio ambiental en nuestra comunidad. Cada zancada, cada salto, es un paso hacia un futuro más verde y sostenible. ¡Únete a la aventura!</p>
      </div>
    </div>
  </section>
  <section id="historia" class="py-12 px-4 bg-gray-100">
    <div class="container mx-auto">
      <h2 class="text-3xl font-bold mb-4">Nuestra Historia</h2>
      <p class="text-lg">La Fundación Aventureros del deporte comenzó su labor en la comunidad del Carmen promoviendo y enseñando el patinaje el 10 de junio del 2021, gracias a un acto de solidaridad. Una pareja de entrenadores deciden enseñarles a patinar a tres niños que sin éxito intentaban ponerse de pie y desplazarse en sus patines. Al finalizar ese momento, se cuadraron las primeras sesiones de aprendizaje para estos niños, como un pequeño y corto servicio a la comunidad, pero surgió algo inesperado, el voz a voz llevó a que rápidamente se conformará un grupo de 30 niños provenientes del corregimiento y todos los alrededores. Este compromiso y acogida llevó a que se formara la escuela de patinaje aventureros en rueda que con el tiempo, evolucionó hacia una visión más completa, apostando por integrar el deporte con el cuidado del medio ambiente para cultivar niños y familias que piensen en un desarrollo sostenible. Así fue que hace un año se formalizó legalmente como Fundación Aventureros del deporte.</p>
    </div>
  </section>

  <section id="mision-y-vision" class="py-12 px-4 bg-white">
    <div class="container mx-auto">
      <h2 class="text-3xl font-bold mb-4">Misión y Visión</h2>
      <div class="mb-8">
        <h3 class="text-2xl font-bold mb-2">Misión</h3>
        <p class="text-lg">Conectar, inspirar y generar sentido de pertenencia en la comunidad a través del patinaje y la cultura del reciclaje, guiados por el profundo amor a nuestro entorno. Cultivar en cada niño, niña y joven un espíritu deportivo y ambientalmente consciente, capaz de construir un futuro próspero y sostenible para sus comunidades.</p>
      </div>
      <div>
        <h3 class="text-2xl font-bold mb-2">Visión 2028</h3>
        <p class="text-lg">La Fundación se proyecta para el año 2028 como una entidad líder y referente en Colombia por la gestión deportiva, ambiental y social. Se espera que tengamos nuestro propio escenario "Eco-deportivo", con una pista de patinaje y más de 250 niños, niñas y jóvenes practicando patinaje y llevando sus sueños a lo más alto. También se espera lograr que el centro de acopio comunitario tenga una sostenibilidad del 90% en sus operaciones.</p>
      </div>
    </div>
  </section>

  <section id="proyectos" class="py-12 px-4 bg-gray-100">
    <div class="container mx-auto">
      <h2 class="text-3xl font-bold mb-4">Nuestros Proyectos</h2>
      <div class="mb-8">
        <h3 class="text-2xl font-bold mb-2">Escuela de Patinaje (Proyecto Aventureros en Ruedas)</h3>
        <p class="text-lg">Formación Integral y Oportunidades para el Desarrollo Juvenil. Implementamos una escuela de patinaje como un espacio de formación deportiva y en valores. Este programa busca la prevención del consumo de sustancias psicoactivas, la violencia juvenil y la deserción escolar, ofreciendo una alternativa saludable y atractiva para el tiempo libre.</p>
      </div>
      <div class="mb-8">
        <h3 class="text-2xl font-bold mb-2">Centro de Acopio Comunitario (Proyecto Eco-Aventureros)</h3>
        <p class="text-lg">Impulsando la Economía Circular y la Conciencia Ambiental, en un espacio propio. Establecimos un centro de acopio comunitario para la recolección, clasificación y venta de residuos sólidos aprovechables. Esta iniciativa generará ingresos adicionales para las familias rurales participantes y una parte para las actividades de los deportistas.</p>
      </div>
      <div>
        <h3 class="text-2xl font-bold mb-2">Desarrollo Comunitario y Turismo Sostenible (Asociación Carmesí)</h3>
        <p class="text-lg">Fortaleciendo el Sentido de Pertenencia y el Liderazgo Local. Aventureros es asociado de la asociación Carmesí y juntos nos hemos encargado de hacer visible nuestro territorio, resaltando su riqueza natural y cultural con el objetivo de promoverlo como un destino turístico atractivo y sostenible. Específicamente, somos la parte sostenible de la asociación y nos encargamos de realizar turismo deportivo.</p>
      </div>
    </div>
  </section>
</Layout>

<script>
  import Swiper from "swiper/bundle";
  import "swiper/css/bundle";

  var swiper = new Swiper(".swiper-container", {
    loop: true,
    effect: 'fade',
    autoplay: {
        delay: 3000,
        disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>