--- 
import Layout from '../layouts/Layout.astro';
---

<Layout title="Misión y Visión - EcoAventura">
  <div class="container mx-auto px-4 py-12">
    <h1 class="text-3xl font-bold mb-4">Misión y Visión</h1>
    <div class="bg-white p-6 rounded-lg shadow-md">
      <h2 class="text-2xl font-bold mb-2">Misión</h2>
      <p class="mb-4">Conectar, inspirar y generar sentido de pertenencia en la comunidad a través del patinaje y la cultura del reciclaje, guiados por el profundo amor a nuestro entorno. Cultivar en cada niño, niña y joven un espíritu deportivo y ambientalmente consciente, capaz de construir un futuro próspero y sostenible para sus comunidades.</p>
      <h2 class="text-2xl font-bold mb-2">Visión 2028</h2>
      <p>La Fundación se proyecta para el año 2028 como una entidad líder y referente en Colombia por la gestión deportiva, ambiental y social. Se espera que tengamos nuestro propio escenario "Eco-deportivo", con una pista de patinaje y más de 250 niños, niñas y jóvenes practicando patinaje y llevando sus sueños a lo más alto. También se espera lograr que el centro de acopio comunitario tenga una sostenibilidad del 90% en sus operaciones.</p>
    </div>
  </div>
</Layout>
