---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Chat from '../components/Chat.jsx';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/global.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>
<body class="bg-gray-100">
    <Header />
    <main>
        <slot />
    </main>
    <Footer />
    <Chat client:load />
</body>
</html>
<style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

    body {
        font-family: 'Montserrat', sans-serif;
    }
</style>
